<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class 3</title>
</head>
<body>
    <script>
// const element1 = {
//     name: 'hassan',
//     place:'pakistan',
//     relgion: 'muslim',
//      age: '19',
// }
// console.log(element1.name)
//     console.log(element1.age)


// function element2(element)  {
//     console.log(element1.name)
//     console.log(element1.age)

// }

// element2(element1)
// 



 
// const element1 = {
//     name: 'hassan',
//     place:'pakistan',
//     relgion: 'muslim',
//      age: '19',
// }



// function element2(element1)  {
//  const {name,age,relgion,place} = element1
//  console.log(name)



// }

// element2(element1)



// const name = {
//     class: 'bs it',
//     rollno: '61'
// }
// console.log(name.class)
// console.log(name.rollno)


// const name = {
//     clas: 'bs it',
//     rollno: '61'
// }
// function name2(name) {
//     const{rollno , clas} = name
//     console.log(rollno)
//     console.log(clas)
// }

// name2(name)


// const name = {
//     clas: 'bsit',
//     rollno: '61'
// }
// function name2(name) {
//     const{rollno , clas} = name
//     const  massage = 'my class is ' + clas +  '   and roll no is ' + rollno + '.';
//     console.log(massage)
// }

// name2(name)

// const vahicles = ['civic' , 'bike' , 'truck']
// console.log(vahicles)
// const [car,,suv] = vahicles;
// console.log({car})
// console.log('suv :', suv)
// console.log({suv})





    </script>

















</body>
</html>